<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
</head>
<body>
    <h2>Add Products</h2>

    <form action="" method="post">
        <p>Product Image:</p><input type="file" name="product_pic">
        <input type="text" name="product_name" id="">
        <input type="number" name="product_price">
        <input type="text" name="product_model" id="">
        <input type="text" name="product_category">
        <input type="text" name="product_gender" id="">
        <textarea name="product_details" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="add_product">
    </form>
</body>
</html>